@import 'colors';
@import 'typography';

* { box-sizing: border-box; }

html { 
  border: 8px solid $blue-dark;
  min-height: 100%;
  font-family: "Colfax"
}

body {
  background-color: $gray-light;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}

p{}

a{}

img { max-width: 100%; }