/*@font-face {
    font-family: 'Colfax';
    src: url('fonts/');
}*/

/*@font-face {
    font-family: 'Colfax';
    src: url('fonts/Colfax-Regular.eot');
}

@font-face {
    font-family: 'Colfax';
    src: url('fonts/Colfax-Regular.eot');
}*/